#game-image {
  border-radius: 15px;
}

#Game {
  position: relative;
  width: 1440px;
  margin: 1rem auto;
}

.selected-location {
  pointer-events: none;
  border: 3px solid white;
  width: 35px;
  height: 35px;
  position: absolute;
  border-radius: 50%;
}

.instruction-wrapper {
  margin: 15% auto;
}

#beginGameBtn {
  cursor: pointer;
  border: none;
  width: 150px;
  height: 150px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 50%;
  background: url("../assets/images/Ball_icon.png");
  background-size: cover;
}

#beginGameBtn:active {
  box-shadow: 0px 0px 20px #4b4a4a;
}

#beginGameBtn.spin {
  animation: button-loading-spin 1s ease infinite;
}

@keyframes button-loading-spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}