#header {
    background-color: #02010A;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

.innerHeader {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logoContainer {
    height: 100%;
    display: table;
    margin: auto 0;
}

.logoContainer h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: x-large;
    font-weight: 200;
}