#selectionMenu {
    z-index: 20;
    max-width: 150px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    position: absolute;
}

#pokemonList li {
    max-width: 100px;
    display: flex;
}

#pokemonList li img {
    max-width: inherit;
}

